# Python bytecode files
__pycache__/
*.py[cod]

# Virtual environment
venv/
env/

# Flask-specific files
instance/
*.log
*.pot
*.pyc

# Dash-specific
/.dash/

# Database files
*.db
*.sqlite3

# Environment variables
#
# .env       # nothing secret in there yet
#

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Other common ignores
*.swp
*.swo
.DS_Store
*.bak
